.footer{
    align-items: center;
    background-color: var(--var-color-secondary-lite);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2%;
    text-align: center;
}

.footer__menu{
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer__menu-item{
    margin-bottom: 1.2rem;
}
.footer__menu-item-link{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.footer__contact{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.footer__contact-title{
    text-align: left;
}
.footer__contact input, .footer__contact textarea{
    border: none;
    border-radius: 5px;
    font-size: medium;
    margin-bottom: .7rem;
    padding: 1rem;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer__contact-submit{
    background-color: var(--var-color-secondary);
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: .7rem;
    width: 40%;
}

.footer__credits{
    background-color: var(--var-color-white);
    font-size: small;
    margin-top: 2%;
    padding: 25px 0;
    width: 100%;
}
@media (min-width:980px){
    .footer{
        flex-direction: row;
        justify-content: space-around;
    }
    .footer__menu{
        text-align: left;
    }
    .footer__contact{
        display: flex;
        flex-direction: column;
        width: calc(980px - 20%);
    }
}