.products__title{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 25px;
    width: 90%;
}
.products__title-add{
    font-size: 1rem;
}

.products__list{
    display: grid;
    font-size: 10pt;
    grid-template-columns: 1fr 1fr;
}
.product__item{
    margin: 0 auto;
    width: 80%;
    margin-bottom: 50px;
}

.product__item-img{
    border-radius: 5px;
    box-shadow: 0 0 20px 0.7 #242424;
    width: 100%;
}
.product__item-title{
    font-size: .8rem;
    font-weight: bold;
}
.product__item-price{
    font-size: 1rem;
}
.product__item-view{
    background-color: var(--var-color-mblue);
    border: none;
    border-radius: 5px;
    color: var(--var-color-white);
    margin-top: 10px;
    padding: .2rem .5rem;
}

@media (min-width:580px) and (max-width:980px){
    .products__list{
        display: grid;
        font-size: 10pt;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width:980px) {
    .products__list{
        display: grid;
        font-size: 10pt;
        grid-template-columns: repeat(6, 1fr);
    }
}