:root{
    --var-background-primary: #e5eced;
    --var-color-secondary: #66BFBF;
    --var-color-secondary-lite: #66BFBF25;
    --var-color-white: #FFFFFF;
    --var-color-mblue:#277BC0;
    --var-color-link: #396eac;
}

html, body, h1, h2, h3 ,h4 ,h5 ,h6, p{
    margin: 0;
    padding: 0;
}

.text-gray{
    color:rgb(110, 113, 116);
}

@media (min-width: 980px) {
    .nav{
        margin: 0 auto;
        width: 980px;
    }
    

}