:root{
    --var-background-primary: #e5eced;
    --var-color-secondary: #66BFBF;
    --var-color-white: #FFFFFF;
    --var-color-link: #396eac;
}

html, body, h1, h2, h3 ,h4 ,h5 ,h6, p{
    margin: 0;
    padding: 0;
}

.text-gray{
    color:rgb(110, 113, 116);
}

@media (min-width: 980px) {
    body{
        margin: 0 10%;
    }

}